.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: grey;
  height: 3vh;
  line-height: 3vh;

  button {
    text-transform: uppercase;
  }
}

main {
  background-color: #282c34;
  overflow: scroll;
  height: 97vh;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

.transaction-headers div {
  color: yellow;
  font-weight: 700;
  font-size: 1.1em;
}

.transaction-list li:not(.transaction-headers) {
  color: white;
  font-weight: normal;
  font-size: .8em;

  &.new-trx {
    color: aquamarine;
    font-weight: 900;
    font-size: 1em;
  }
}

.transaction-headers,
.transaction-list li {
  display: flex;
}

.transaction-headers div,
.transaction-list div {
  display: inline-block;
}

.transaction-headers div + div,
.transaction-list div + div {
  margin-left: 6px;
}

.tx-index {
  flex: 3;
}

.tx-n {
  flex: 1;
}

.tx-prev {
  flex: 2;
}

.tx-spent {
  flex:   2;
}

.tx-value {
  flex: 4;
}
